In [70]:
import pandas as pd
df=pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [78]:
input=df.drop('salary_more_then_100k',axis='columns')

In [84]:
target=df['salary_more_then_100k']

In [86]:
from sklearn.preprocessing import LabelEncoder
emp_company=LabelEncoder()
emp_job=LabelEncoder()
emp_degree=LabelEncoder()

In [88]:
input['comp']=emp_company.fit_transform(input['company'])
input['job_a']=emp_job.fit_transform(input['job'])
input['deg']=emp_company.fit_transform(input['degree'])
input.head()

  company                  job     degree  comp  job_a  deg
0  google      sales executive  bachelors     2      2    0
1  google      sales executive    masters     2      2    1
2  google     business manager  bachelors     2      0    0
3  google     business manager    masters     2      0    1
4  google  computer programmer  bachelors     2      1    0

In [94]:
inputs=input.drop(['company','job','degree'],axis='columns')
inputs

    comp  job_a  deg
0      2      2    0
1      2      2    1
2      2      0    0
3      2      0    1
4      2      1    0
5      2      1    1
6      0      2    1
7      0      1    0
8      0      0    0
9      0      0    1
10     1      2    0
11     1      2    1
12     1      0    0
13     1      0    1
14     1      1    0
15     1      1    1

In [96]:
from sklearn .tree import DecisionTreeClassifier
model = tree.DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [98]:
model.fit(inputs, target)

DecisionTreeClassifier()

In [100]:
model.score(inputs,target)

1.0

In [116]:
model.predict([[2,2,0]])

/opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [118]:
input

       company                  job     degree  comp  job_a  deg
0       google      sales executive  bachelors     2      2    0
1       google      sales executive    masters     2      2    1
2       google     business manager  bachelors     2      0    0
3       google     business manager    masters     2      0    1
4       google  computer programmer  bachelors     2      1    0
5       google  computer programmer    masters     2      1    1
6   abc pharma      sales executive    masters     0      2    1
7   abc pharma  computer programmer  bachelors     0      1    0
8   abc pharma     business manager  bachelors     0      0    0
9   abc pharma     business manager    masters     0      0    1
10    facebook      sales executive  bachelors     1      2    0
11    facebook      sales executive    masters     1      2    1
12    facebook     business manager  bachelors     1      0    0
13    facebook     business manager    masters     1      0    1
14    facebook  computer programmer  bachelors     1      1    0
15    facebook  computer programmer    masters     1      1    1